.card-img-top {
    height: 180px;
    width: 100%;
}
.special-item-card {
    padding: 20px;
}
.special-item {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
}
.store-image {
    height: 90px;
    width: 80%;
    margin-bottom: 50px;
}
span {
    font-size: 20px;
}